<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="2" configfailurepolicy="continue" name="pCloudy Suite" parallel="tests">
  <test name="BrowserTestFirefox">
        <parameter name="os" value="Windows" />
		<parameter name="osVersion" value="10" />
		<parameter name="browserName" value="firefox" />
		<parameter name="browserVersions" value="79" />
    <classes>
      <class name="com.seleniumWebdriver.SeleniumRunner"/>
    </classes>
  </test>  
  
    <test name="BrowserTestmedge">
        <parameter name="os" value="Windows" />
		<parameter name="osVersion" value="10" />
		<parameter name="browserName" value="msedge" />
		<parameter name="browserVersions" value="85" />
    <classes>
      <class name="com.seleniumWebdriver.SeleniumRunner"/>
    </classes>
  </test> 
  
</suite> <!-- Suite -->
