<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="2" configfailurepolicy="continue" name="pCloudy Suite" parallel="tests">
<listeners>
		<listener class-name="pCloudyJenkins.AlterSuite" />
	</listeners>
  <test name="Test">
    <classes>
      <class name="pCloudyJenkins.Runner"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->

