<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="2" configfailurepolicy="continue"
	name="pCloudy Suite" parallel="tests">
	
	<test name="Firefox">
		<parameter name="os" value="Windows" />
		<parameter name="osVersion" value="11" />
		<parameter name="browserName" value="chrome" />
		<parameter name="browserVersions" value="120" />
		<classes>
			<class name="com.pCloudy.testNg.Runner" />
		</classes>
	</test>

	<test name="MsEdge">
		<parameter name="os" value="Mac" />
		<parameter name="osVersion" value="Ventura" />
		<parameter name="browserName" value="edge" />
		<parameter name="browserVersions" value="128" />
		<classes>
			<class name="com.pCloudy.testNg.Runner" />
		</classes>
	</test>
	
</suite> <!-- Suite -->